<div id="signInContent">

    
    <div id="signInForm">

    <h1 id="signInHead"> Sign-in </h1>
    <%= form_tag(create_session_path, method: 'post') do %>
        <%= label_tag :username, "Username", class: "signInLabel"%><br>
        <%= text_field_tag :username, "", class: "signInInput" %><br>
        <%= label_tag :password, "Password", class: "signInLabel"%><br>
        <%= password_field_tag :password, "", class: "signInInput"%><br>
        <%= submit_tag("Login", :class=>"signInSubmit")%><br>
    <% end %>

    <div id="linkToSignUp">Don't have an account? <div id="signUpLink"><%= link_to('Sign Up', new_user_path)%></div></div>

    </div>


</div>